<!--
	Author: W3layouts

-->

<!DOCTYPE html>
<html>
<head>
	<title>Login or Register</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Sign In And Sign Up Forms  Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	</script><script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/modernizr.custom.53451.js"></script>
 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
</script>	
		
</head>
<body>
	<h1>Login or Register</h1>
	<div class="w3layouts">
		<div class="signin-agile">
			<h2>Login
</h2>
			<form action="#" method="post">
				<input type="text" name="name" class="name" placeholder="account" required="">
				<input type="password" name="password" class="password" placeholder="password" required="">
				<ul>
					<li>
						<input type="checkbox" id="brand1" value="">
						<label for="brand1"><span></span>Remember password </label>
					</li>
				</ul>
				<a href="#">Forget password？</a><br>
				<div class="clear"></div>
				<input type="submit" value="login">
			</form>
		</div>
		<div class="signup-agileinfo">
			<h3>Register</h3>
			<p>Today I want to share a step-by-step registration form based on HMLT5. The form looks gorgeous. Click the next button to jump to the next step to fill in the registration information. Changing the HTML5 form uses a lot of CSS3 properties, so that it has flexible animation when the form is switched. It is a very good HTML5 form.</p>
			<div class="more">
				<a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog">Click to register</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="footer-w3l">
		<p class="agileinfo"> &copy; echo2019
 </p>
	</div>
	<div class="pop-up"> 
	<div id="small-dialog" class="mfp-hide book-form">
		<h3>Registe </h3>
			<form action="#" method="post">
				<input type="text" name="Name" placeholder="Account" required=""/>
				<input type="text" name="Email" class="email" placeholder="email" required=""/>
				<input type="password" name="Password" class="password" placeholder="password" required=""/>
				<input type="password" name="Password" class="password" placeholder="repeat" required=""/>
				<input type="submit" value="Registe">
			</form>
	</div>
</div>	
<body>
</html>